@{
    ViewBag.Title = "Index";
}
@section head{
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>
}
<h2>欢迎您 @User.RealName，您登录时间为 @User.LoginTime, [@Html.ActionLink("退出", "Logout", "Account")]</h2>
<div ms-controller="account">
    <div>
        <form ms-submit="search">
            姓名 <input type="text" ms-duplex="args.likeRealName ">
            账号 <input type="text" ms-duplex="args.likeUsername ">
            <input type="submit" value="搜索" />
        </form>
    </div>
    <hr />
    <table class="gridtable">
        <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>账号</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ms-repeat-user="users.rows">
                <td>{{$index + 1}}</td>
                <td>{{user.realName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td><a href="javascript:;" ms-click="showCurrent(user)">编辑</a> | <a href="javascript:;" ms-click="remove(user)">删除</a></td>
            </tr>
        </tbody>
    </table>
    <p>当前第 {{args.pageNumber}}/{{calcTotalPage()}} 页，总共有 {{users.total}} 条记录</p>
    <p><button ms-click="goPage(1)">首页</button> | <button ms-click="nextPage(-1)">上页</button> <button ms-click="nextPage(1)">下页</button> | <button ms-click="goPage(calcTotalPage())">末页</button></p>
    <p ms-if="!displayCurrent"><button ms-click="showCurrent({id:null,realName:'',username:'',password:''})">新用户</button></p>
    <div ms-if="displayCurrent">
        <hr />
        <form ms-submit="saveCurrent">
            <p><input type="text" placeholder="姓名" ms-duplex="current.realName" /></p>
            <p><input type="text" placeholder="账号" ms-duplex="current.username" ms-attr-disabled="current.username=='admin'" /></p>
            <p><input type="text" placeholder="密码" ms-duplex="current.password" /></p>
            <p><input type="submit" ms-attr-value="current.id ?'保存':'新增'" /> <a href="javascript:;" ms-click="hideCurrent">取消</a></p>
        </form>
    </div>
</div>