@model WebSample.Arguments.LoginArguments
@{
    ViewBag.Title = "Login";
}

<div>
    <h1>A O I T E</h1>
    @Html.ValidationSummary()
    <form method="post">
        @Html.DisplayForModel()
        <p><input type="submit" value="登录" /> </p>
    </form>
</div>
